body{
	background-image: url(<?= base_url("/images/frontface.jpg") ?>);
	background-position: top left;
	background-size: 100%;

}
.icon{
	
}
.ac_child{
	color: #4f4e4d;
}
.action_set{
	width: 800px;
	height: 450px;
	margin-top: 170px;
	
	float :right;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	overflow: hidden;
	background: rgba(255, 200,141 , 0.5);	


}
.action_set .ac_child{
	height: 200px;
	width:800px;
			/*#73f3cd;*/ 


}
.search{
	height:200px;
	line-height: 200px;
	vertical-align: middle;

	
	float:left;
	width:100px;
		}
.search-icon{
	line-height: 60px;
	height:60px;
	font-size: 100px;


}
.search-icon i{
	padding-top: 40px;
}

.search .search-input{
	line-height: 20px;
	vertical-align: middle;
	height:50px;
	width:100px;
}
.ac-other .action{
	height:200px;
	width:200px;
	font-size: 130px;
	position:absolute;
}
.ac-search .ac-search-div{
	margin-left:100px;
}

.action.action-archive{
	margin-left:75px;
}

.action.action-upload{
	margin-left:325px;
}
.action.action-users{
	margin-left:575px;
}
.action:hover{
	opacity: 0.5;
}


.search-result{
	position: absolute;
	width: inherit;
	height: inherit;
	z-index: 999;
	opacity: 0.7;
	background-color: white;
	display: none;
}

.ac-search-div{
	width: 400px;
}

